* {
    margin: 0px;
    padding: 0px;
  }
  
  body {
    display: grid;
    place-content: center;
    margin-top: 50px;
  }
  main {
    background-color: lightgray;
    width: 350px;
    height: fit-content;
    padding: 2rem;
  }
  
  h1 {
    margin-bottom: 1.5rem;
    font-size: 3rem;
    color: darkblue;
    text-align: center;
  }
  
  p {
    font-size: 6rem;
    text-align: center;
    font-family:cursive;
    margin-bottom: 2rem;
  }
  
  div {
    display: flex;
    gap: 5%;
    justify-content: center;
  }
  
  button {
    font-size: 18px;
    padding: 0.5rem 1.2rem;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    border: 0px;
    box-shadow: black 2px 3px 5px;
    cursor: pointer;
  }
  button:hover {
    width: 150px;
  }
  
  #increase {
    background-color: green;
  }
  
  #decrease {
    background-color: red;
  }
  
  #reset {
    background-color: yellow;
    color: darkblue;
  }
  